<p id="notice"><%= notice %></p>

<h1>Listing Labels</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @labels.each do |label| %>
      <tr>
        <%= render 'label_row', label: label %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

